# Пример файла с паролями для подписи release APK
# Скопируйте этот файл в keystore.properties и замените значения на реальные

MYAPP_RELEASE_STORE_FILE=my-release-key.keystore
MYAPP_RELEASE_KEY_ALIAS=my-key-alias
MYAPP_RELEASE_STORE_PASSWORD=YOUR_PASSWORD_HERE
MYAPP_RELEASE_KEY_PASSWORD=YOUR_PASSWORD_HERE

